@use "../variables" as *;
@use "../mixins" as *;
@use "../fonts";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  background: white;
  width: 526px;
  height: 417px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 30px;

  padding: 30px 23.5px 20px 23.5px;
}

.modal-header {
  height: 62px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-title {
  font-family: Argentum Sans;
  font-size: 24px;
  font-weight: 800;
  line-height: 28.26px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
}

.modal-subtitle {
  margin: 0;
  font-family: Argentum Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.modal-form {
  margin-top: 30px;
  width: 457px;
  height: 275px;
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .btn-container {
    margin: 0px;
  }

  .btn {
    width: 227px;
    height: 51px;
    margin-bottom: 20px;
  }
}

.modal-date-container {
  height: 86px;
  gap: 6px;
}

.modal-label {
  font-family: Argentum Sans;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #696969;
}

.modal-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 14px;
}

.modal-form-inputs {
  height: 164px;
}

